# Virtual environment (very heavy, don't upload)
.venv/
venv/
ENV/

# Python cache and temporary files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# Keep the data/ directory structure on GitHub, but ignore all large datasets inside it
data/*
!data/README.md

# Keep the outputs/ directory structure on GitHub, but ignore all generated figures/models inside it
outputs/*
!outputs/README.md
